@font-face {
  font-family: 'Source Code Pro';
  font-style:  normal;
  font-weight: 800;
  src: url("../fonts/SourceCodePro-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'Source Code Pro';
  font-style:  normal;
  font-weight: 800;
  src: url("../fonts/SourceCodePro-Bold.ttf") format("ttf");
}
