@import '../main.css';
@import '../header.css';
@import '../logo.css';
@import '../pagination.css';
@import '../post.css';
@import '../syntax.css';
@import '../variables.css';

:root {
    --accent: #607D8B;/*23B0FF;*/
  --background: color-mod(var(--accent) blend(#1D1f21 98%));
  --color: #c5c8c6;
  --border-color: rgba(255, 255, 255, .1);
}
